/*a few style*/
.btn-search {
  min-width: 120px !important;
}
#map {
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 370px;
  border: skyblue 2px solid;
}
.well {
  padding: 5px;
}
form {
  min-height: 100px;
}
form .form-control.error {
  border-color: red !important;
}
form .form-control.success {
  border-color: green !important;
}
.list-group-item {
  padding: 5px 15px;
}
